body {
    margin: 5px;
    border: 1px solid #a9a9a9;
    user-select: none;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
}

#zelector-popup {
    width: 165px;
}

#zelector-popup ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#zelector-popup li {
    cursor: pointer;
    list-style: none;

    margin: 0 0;
    padding: 10px 12px;
    border-radius: 0;
}

#zelector-popup li:hover {
    background-color: #eeeeee;
}

#zelector-popup li .fa {
    margin-right: 15px;
}

#zelector-popup li .fa-check {
    color: #006400;
}

#zelector-popup li .fa-table {
    color: #00b0ff;
}

#zelector-popup li .fa-wrench {
    color: #2f4f4f;
}

#zelector-popup li {
    border-top: 1px dashed #a9a9a9;
}