body {
    margin: 5px;
    padding: 0;
    user-select: none;
}

#app {
    width: 165px;
    border: 2px solid #494949;
    background-color: rgba(0, 0, 0, 0.6);
}

#app img {
    margin: 5px 0;
    background-color: white;
}

#app ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#app li {
    display: flex;
    cursor: pointer;
    list-style: none;

    margin: 0 0;
    padding: 8px 6px 8px 12px;
    border-radius: 0;
    color: white;
}

#app li .fa {
    font-weight: bold;
}

#app li:hover .text {
    text-decoration: underline;
}

#app li:hover .fa {
    color: darkorange;
}

#app li .fa {
    margin-left: auto;
}

#app li .fa-check {
    /*color: #006400;*/
}

#app li .fa-times {
    /*color: #8b0000;*/
}

#app li:not(:first-child) {
    border-top: 1px dashed #a9a9a9;
}