body {
    background-color: rgba(0, 0, 255, 0.03);
}

.button {
    display: inline-block;
    margin: 5px 0;
    padding: 3px;
    border: 2px solid gray;
    color: white;
    background-color: black;
    font-size: 12px;
    cursor: default;
}
.button:hover {
    background-color: #555;
}