#zelector-glass {
    pointer-events: auto;
    cursor: default;
    z-index: 2147483646;
    position: fixed;
    background-color: rgba(255, 0, 0, 0.05);
    border: 5px solid orangered;
}

/* selection */
.zelector-selection-base-rect {
    position: fixed;

    border: solid pink;
}
.zelector-selection-text-rect {
    position: fixed;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;

    background-color: white;
    border: 1px dashed blue;
    color: red;
}
.zelector-selection-mark-rect {
    position: fixed;

    border: solid black;
}
.zelector-selection-over-rect {
    position: fixed;

    border: solid green;
}

/* buffer */
#zelector-buffer {
    z-index: 2147483647;
    position: fixed;
    bottom: 15px;
    right: 15px;

    width: 375px;
    margin: 0;
    padding: 0;
    border-radius: 0;

    font-family: Times, serif;
    font-size: 15px;
    color: white;

    cursor: default;
}
#zelector-buffer ul {
    margin: 0;
    padding: 0;
    border: 2px solid #494949;
}
#zelector-buffer li {
    display: flex;
    align-items: center;
    overflow: hidden;
    list-style: none;

    margin: 0 0;
    padding: 10px 12px;
    border-radius: 0;

    background-color: rgba(0, 0, 0, 0.6);
}
#zelector-buffer li:not(:first-child) {
    border-top: 1px dashed #a9a9a9;
}
.zelector-buffer-item-index {
    width: 12px;
    padding: 2px;
    border-radius: 3px;
    margin-right: 5px;

    font-family: Arial, serif;
    font-size: 12px;
    font-weight: bold;
    /*background-color: rgb(50, 50, 50);*/
    text-align: center;
}
.zelector-buffer-item-content {
    margin: 0 10px;
    width: 300px;
}
.zelector-buffer-item-delete {
    cursor: pointer;
}
.zelector-buffer-item-enter {
    opacity: 0.01;
    max-height: 0;
}
.zelector-buffer-item-enter.zelector-buffer-item-enter-active {
    opacity: 1;
    max-height: 200px;
    transition: max-height 500ms ease-in;
}
.zelector-buffer-item-leave {
    opacity: 1;
}
.zelector-buffer-item-leave.zelector-buffer-item-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

/* action bar */
#zelector-buffer .zelector-action-bar {
    border: 2px solid #494949;
    margin-top: 2px;
    padding: 2px;
    font-family: Arial, serif;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

#zelector-buffer .zelector-action-bar div {
    display: inline-block;
}

#zelector-buffer .zelector-action-link {
    color: white;
    text-decoration: underline;
    margin-left: 5px;
    cursor: pointer;
}

/* debug */
#zelector-debug {
    float: right;
    overflow: auto;

    width: 350px;
    margin: 15px;
    padding: 5px;

    font-family: Courier, sans-serif;
    font-size: 12px;
    background-color: rgba(245, 245, 220, 0.8);
    border: 2px solid black;
    text-align: left;
}

#zelector-debug .zelector-debug-breakdown {
    height: 75px;
    overflow-y: scroll;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.8);
}